In [1]:
from diviner import file_utils as fu
import pandas as pd
from diviner import data_prep as dp

In [2]:
tstr = '2010010402'
outfname = tstr + '_divdata.csv'
df = fu.get_divdata(tstr,5,11, cend=7)
df.head()

AttributeError: module 'diviner.file_utils' has no attribute 'get_divdata'

In [38]:
import os
if os.path.exists(outfname):
    print os.path.getsize(outfname)

6042440

In [51]:
df = pd.read_csv(outfname, nrows=10, delim_whitespace=True)
df.drop(df.columns[0],axis=1,inplace=True)
df = dp.index_by_time(df)
df

,jdate,clat,clon,radiance,tb
2010-01-04 02:00:00.102000,2455200.583335,8.18071,43.091671,0.3464,202.278000
2010-01-04 02:00:00.232000,2455200.583336,8.18767,43.091660,0.3441,201.261002
2010-01-04 02:00:00.360000,2455200.583338,8.19452,43.091648,0.3464,202.276993
2010-01-04 02:00:00.488000,2455200.583339,8.20137,43.091640,0.3372,198.207001
2010-01-04 02:00:00.616000,2455200.583340,8.20823,43.091640,0.3464,202.276993
2010-01-04 02:00:00.744000,2455200.583342,8.21508,43.091629,0.3464,202.276993
2010-01-04 02:00:00.872000,2455200.583343,8.22193,43.091621,0.3511,204.309998
2010-01-04 02:00:01,2455200.583345,8.22878,43.091610,0.3534,205.324997
2010-01-04 02:00:01.127999,2455200.583346,8.23564,43.091599,0.3464,202.276993
2010-01-04 02:00:01.256000,2455200.583348,8.24249,43.091591,0.3118,186.968002

In [55]:
df.clon.describe()

count    26044.000000
mean       -61.099627
std         89.234629
min       -139.132797
25%       -137.405872
50%       -137.364471
75%         43.074343
max         45.257568
Name: clon, dtype: float64

In [58]:
df.groupby(df.clon.round()).mean?

In [ ]:
df.groupby(df.clon.round()).mean

In [59]:
df.mean?