In [1]:
cd ~/Dropbox/DDocuments/DIVINER/ground_calib/

/Users/klay6683/Dropbox/DDocuments/DIVINER/ground_calib

In [2]:
ls

2008011201_L1A_Plot3.pdf                      gc_a6_b1_b2_b3_d11_2008011021-2008011109.png
Diviner Radiometric Cal Ramp 2.xlsx           gc_a6_b1_b2_b3_d11_2008011109-2008011121.png
Diviner Radiometric Cal Ramp 3.xlsx           gc_a6_b1_b2_b3_d11_2008011121-2008011209.png
b1_11_2008011021-2008011109.png               gc_a6_b1_b2_b3_d11_2008011209-2008011221.png
b1_11_2008011109-2008011121.png               gc_a6_b1_b2_b3_d11_2008011221-2008011309.png
b1_11_2008011121-2008011209.png               marc_foote_counts_and_chamber_data.xlsx
b1_11_2008011209-2008011221.png               ~$Diviner Radiometric Cal Ramp 2.xlsx
b1_11_2008011221-2008011309.png               ~$Diviner Radiometric Cal Ramp 3.xlsx
counts_vs_temps.png                           ~$marc_foote_counts_and_chamber_data.xlsx

In [48]:
from diviner.calib import thermal_detectors
def replace_cols_with_tdets(df, offset):
    origcols = df.columns.tolist()
    newcols = origcols[:offset] + thermal_detectors
    df.columns = newcols
    return df

In [49]:
chamberdata = pd.read_excel('marc_foote_counts_and_chamber_data.xlsx')
chamberdata = replace_cols_with_tdets(chamberdata, 8)
# dropping the first parsed row because it's just the 2nd row of header names
# from the Excel sheet, mostly containing units
chamberdata.drop(0, inplace=True)
chamberdata = chamberdata.convert_objects()

In [51]:
chamberdata.head()

,Time,Fixed BB T,Var BB T,BB1 T,BB2 T,FPA T,FPB T,OBA T,a3_01,a3_02,...,b3_12,b3_13,b3_14,b3_15,b3_16,b3_17,b3_18,b3_19,b3_20,b3_21
1,2.216918e+08,91.496039,20.953206,289.039125,288.921989,285.74450,285.795625,287.37600,0.701149,-0.464309,...,-45.597354,-48.483706,-44.134897,-43.208116,-44.617604,-42.689515,-41.038529,-42.537526,-40.618196,-32.709710
2,2.216919e+08,91.478185,21.031436,288.945625,288.878461,285.74225,285.774500,287.54600,0.279037,-0.325523,...,-45.086091,-47.309381,-43.898254,-42.395588,-44.884098,-43.365207,-40.641203,-42.458153,-38.908414,-33.114429
3,2.216920e+08,90.781601,20.729113,289.030000,288.915737,285.72200,285.731500,287.40100,1.488447,0.791298,...,-44.934751,-46.661946,-42.878662,-41.547724,-44.048771,-41.780070,-41.871625,-42.166158,-38.645145,-32.728246
4,2.216920e+08,90.793402,20.548585,288.889000,288.841360,285.70600,285.719750,287.36975,-0.142818,0.292132,...,-45.646113,-45.594897,-42.331532,-42.554207,-43.117757,-41.705114,-40.674476,-41.049738,-39.363263,-33.800622
5,2.216921e+08,90.880931,20.482356,289.061000,288.918000,285.70500,285.701375,287.61500,0.656175,0.084544,...,-46.464388,-46.765446,-43.612145,-42.322117,-45.404985,-42.286772,-40.772225,-42.539797,-38.613747,-32.633978

In [52]:
chamberdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1412 entries, 1 to 1412
Columns: 155 entries, Time to b3_21
dtypes: float64(155)
memory usage: 1.7 MB

In [53]:
chamberdata.to_hdf('chamberdata.h5', 'df')

In [122]:
def parse_allvfvaltime(fname, offset, sheet):
    allvfvaltime = pd.read_excel(fname , sheet)
    allvfvaltime = replace_cols_with_tdets(allvfvaltime, offset)
    allvfvaltime.drop(0, inplace=True)
    allvfvaltime = allvfvaltime.convert_objects()
    return allvfvaltime

In [64]:
allvfvaltime = parse_allvfvaltime('Diviner Radiometric Cal Ramp 2.xlsx', 1, 0)

In [65]:
allvfvaltime.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 452 entries, 1 to 452
Columns: 148 entries, Time to b3_21
dtypes: float64(148)
memory usage: 526.2 KB

In [66]:
allvfvaltime.to_hdf('allvfvaltime_2.h5', 'df')

First sheet of Ramp 3 Excelfile has different columns although the sheet has the same name?

In [97]:
allvfvaltime = parse_allvfvaltime('Diviner Radiometric Cal Ramp 3.xlsx', 9, 0)

In [98]:
allvfvaltime = allvfvaltime.dropna(how='all')

In [99]:
allvfvaltime.drop('Time.1',axis=1, inplace=True)

In [100]:
allvfvaltime.head()

,Time,Fixed BB T,Var BB T,BB1 T,BB2 T,FPA T,FPB T,OBA T,a3_01,a3_02,...,b3_12,b3_13,b3_14,b3_15,b3_16,b3_17,b3_18,b3_19,b3_20,b3_21
1,2.221632e+08,85.259450,86.729822,305.831375,305.847474,301.30350,301.451000,305.88100,1.078401,0.463011,...,4.114170,4.664195,3.371180,3.845941,2.862202,4.047651,3.920679,4.488466,3.716802,2.891983
2,2.221633e+08,85.299134,86.763772,305.567250,305.569000,301.30825,301.464750,305.82575,-0.448079,-1.775074,...,3.652882,2.571572,2.529377,1.950388,2.672026,2.494089,2.168780,2.730968,1.668180,1.281325
3,2.221634e+08,85.373111,86.828594,305.335750,305.083074,301.37300,301.557625,305.63900,-1.059096,-0.560207,...,4.323854,2.788748,3.106771,4.279735,3.790880,4.262631,3.320131,3.153168,2.734563,1.693698
4,2.221634e+08,85.363032,86.840838,305.095250,304.959516,301.37625,301.576250,305.55575,-1.183861,-1.390794,...,4.056603,4.161101,2.626503,3.458542,3.456380,4.156179,3.244593,3.632614,3.341302,2.369413
5,2.221635e+08,85.477143,86.993652,304.456875,304.464438,301.43450,301.635000,305.35800,0.242405,-1.772825,...,3.706842,4.100544,2.962096,3.528443,3.586588,3.928061,3.302153,3.019275,2.376693,2.595036

In [102]:
allvfvaltime.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 436 entries, 1 to 475
Columns: 155 entries, Time to b3_21
dtypes: float64(155)
memory usage: 531.4 KB

In [103]:
allvfvaltime.to_hdf('allvfvaltime_3.h5', 'df')

In [134]:
def parse_vf_temps(fname, sheet):
    df = pd.read_excel(fname, sheet)
    df.drop(0, inplace=True)
    return df.convert_objects()

In [135]:
vftemps = parse_vf_temps('Diviner Radiometric Cal Ramp 2.xlsx', 1)

In [110]:
vftemps.head()

,Time,Fixed BB T,Var BB T,BB1 T,BB2 T,FPA T,FPB T,OBA T
1,2.220052e+08,86.499720,88.443333,335.296875,335.458225,331.496500,332.204125,335.719000
2,2.220053e+08,86.510940,88.403380,335.335463,335.419854,331.511247,332.195749,335.725755
3,2.220054e+08,86.507713,88.277288,335.337250,335.502596,331.538000,332.235000,335.773000
4,2.220054e+08,86.383744,88.207687,335.317000,335.412282,331.540750,332.226250,335.783250
5,2.220055e+08,86.134364,87.935074,335.298250,335.467158,331.581500,332.247125,335.809000

In [111]:
vftemps.dtypes

Time          float64
Fixed BB T    float64
Var BB T      float64
BB1 T         float64
BB2 T         float64
FPA T         float64
FPB T         float64
OBA T         float64
dtype: object

In [113]:
vftemps.dtypes

Time          float64
Fixed BB T    float64
Var BB T      float64
BB1 T         float64
BB2 T         float64
FPA T         float64
FPB T         float64
OBA T         float64
dtype: object

In [114]:
vftemps.to_hdf('vftemps_2.h5', 'df')

In [136]:
vftemps = parse_vf_temps('Diviner Radiometric Cal Ramp 3.xlsx', 1)

In [120]:
vftemps.head()

,Time,Fixed BB T,Var BB T,BB1 T,BB2 T,FPA T,FPB T,OBA T
1,2.221632e+08,85.259450,86.729822,305.831375,305.847474,301.30350,301.451000,305.88100
2,2.221633e+08,85.299134,86.763772,305.567250,305.569000,301.30825,301.464750,305.82575
3,2.221634e+08,85.373111,86.828594,305.335750,305.083074,301.37300,301.557625,305.63900
4,2.221634e+08,85.363032,86.840838,305.095250,304.959516,301.37625,301.576250,305.55575
5,2.221635e+08,85.477143,86.993652,304.456875,304.464438,301.43450,301.635000,305.35800

In [121]:
vftemps.to_hdf('vftemps_3.h5','df')

In [123]:
allifvaltime = parse_allvfvaltime('Diviner Radiometric Cal Ramp 2.xlsx', 1, 2)

In [124]:
allifvaltime.head()

,Time,a3_01,a3_02,a3_03,a3_04,a3_05,a3_06,a3_07,a3_08,a3_09,...,b3_12,b3_13,b3_14,b3_15,b3_16,b3_17,b3_18,b3_19,b3_20,b3_21
1,2.220052e+08,1801.658922,1926.175738,1946.189019,1907.407391,1891.730560,1945.394619,1918.532591,1940.243807,1934.488811,...,206.996596,211.442291,194.722516,192.340193,199.873500,192.294754,185.688359,190.811415,176.416066,147.654958
2,2.220052e+08,1803.445352,1927.660201,1947.099829,1908.208905,1893.314941,1945.819913,1919.509458,1943.730665,1935.975544,...,205.514334,211.392126,195.342339,193.554220,200.424710,193.078981,185.461450,190.938375,175.220688,148.014579
3,2.220053e+08,1800.847251,1925.672136,1945.971506,1906.694700,1891.230806,1944.660823,1918.039153,1941.631082,1935.183040,...,204.922222,210.748350,194.714033,192.296186,199.149858,192.631309,185.812219,189.263771,175.029634,147.920945
4,2.220054e+08,1803.448282,1927.474352,1947.669861,1908.904717,1894.071238,1946.100530,1919.148813,1942.217405,1936.420881,...,205.617150,211.118345,194.170141,193.031603,200.877454,191.737827,185.058685,191.175668,176.036881,147.164222
5,2.220055e+08,1799.158981,1922.707094,1943.388713,1904.421353,1889.450028,1941.286287,1914.413741,1937.243195,1930.752869,...,205.538672,211.359842,194.540144,193.245865,200.111419,193.633800,185.631645,190.774879,174.717031,149.018193

In [126]:
allifvaltime.to_hdf('allifvaltime_2.h5', 'df')

In [127]:
allifvaltime = parse_allvfvaltime('Diviner Radiometric Cal Ramp 3.xlsx', 9, 2)

In [128]:
allifvaltime.head()

,Time,Time.1,Fixed BB T,Var BB T,BB1 T,BB2 T,FPA T,FPB T,OBA T,a3_01,...,b3_12,b3_13,b3_14,b3_15,b3_16,b3_17,b3_18,b3_19,b3_20,b3_21
1,2.221632e+08,2.221632e+08,85.187983,86.680106,306.114250,306.195461,301.242000,301.384625,306.026750,1202.397838,...,211.657478,217.180362,201.736705,197.968707,205.588830,197.928897,189.366090,197.507261,182.773575,154.856909
2,2.221632e+08,2.221632e+08,85.260403,86.769483,306.143126,306.059859,301.311002,301.450584,305.972703,1197.927574,...,212.241394,217.914152,201.194041,197.882393,206.969938,198.419821,190.470146,196.673662,183.214266,154.488582
3,2.221633e+08,2.221633e+08,85.312238,86.811023,305.387500,305.277000,301.313500,301.489750,305.760250,1183.243309,...,209.929992,216.723086,200.520917,197.666546,205.029552,196.720104,188.914433,196.229102,182.596579,153.824837
4,2.221633e+08,2.221633e+08,85.303520,86.754303,305.291500,305.184573,301.350000,301.526875,305.703000,1180.388789,...,210.786401,217.121758,200.762159,196.824010,205.075780,197.729380,190.404317,197.617459,182.288457,153.763446
5,2.221635e+08,2.221635e+08,85.423329,86.908261,304.677000,304.694225,301.371750,301.574000,305.495000,1166.333080,...,209.875954,216.610820,199.250165,196.309720,203.547144,196.354313,188.962375,194.016537,180.799752,153.587237

In [131]:
allifvaltime.drop('Time.1', axis=1, inplace=True)

In [132]:
allifvaltime.head()

,Time,Fixed BB T,Var BB T,BB1 T,BB2 T,FPA T,FPB T,OBA T,a3_01,a3_02,...,b3_12,b3_13,b3_14,b3_15,b3_16,b3_17,b3_18,b3_19,b3_20,b3_21
1,2.221632e+08,85.187983,86.680106,306.114250,306.195461,301.242000,301.384625,306.026750,1202.397838,1286.333284,...,211.657478,217.180362,201.736705,197.968707,205.588830,197.928897,189.366090,197.507261,182.773575,154.856909
2,2.221632e+08,85.260403,86.769483,306.143126,306.059859,301.311002,301.450584,305.972703,1197.927574,1281.481301,...,212.241394,217.914152,201.194041,197.882393,206.969938,198.419821,190.470146,196.673662,183.214266,154.488582
3,2.221633e+08,85.312238,86.811023,305.387500,305.277000,301.313500,301.489750,305.760250,1183.243309,1266.020485,...,209.929992,216.723086,200.520917,197.666546,205.029552,196.720104,188.914433,196.229102,182.596579,153.824837
4,2.221633e+08,85.303520,86.754303,305.291500,305.184573,301.350000,301.526875,305.703000,1180.388789,1262.798522,...,210.786401,217.121758,200.762159,196.824010,205.075780,197.729380,190.404317,197.617459,182.288457,153.763446
5,2.221635e+08,85.423329,86.908261,304.677000,304.694225,301.371750,301.574000,305.495000,1166.333080,1247.428025,...,209.875954,216.610820,199.250165,196.309720,203.547144,196.354313,188.962375,194.016537,180.799752,153.587237

In [133]:
allifvaltime.to_hdf('allifvaltime_3.h5','df')

In [137]:
iftemps = parse_vf_temps('Diviner Radiometric Cal Ramp 2.xlsx', 3)

In [138]:
iftemps.head()

,Time,Fixed BB T,Var BB T,BB1 T,BB2 T,FPA T,FPB T,OBA T
1,2.220052e+08,86.390547,88.338372,335.197750,335.380863,331.43725,332.158375,335.6835
2,2.220052e+08,86.466657,88.395637,335.025625,335.451769,331.46500,332.179000,335.6910
3,2.220053e+08,86.589492,88.405275,335.179000,335.379738,331.47925,332.188875,335.7265
4,2.220054e+08,86.481310,88.320670,335.084375,335.473905,331.51700,332.205875,335.7410
5,2.220055e+08,86.194299,88.008776,335.102250,335.330621,331.54025,332.220000,335.7805

In [139]:
iftemps.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 481 entries, 1 to 481
Data columns (total 8 columns):
Time          481 non-null float64
Fixed BB T    481 non-null float64
Var BB T      481 non-null float64
BB1 T         481 non-null float64
BB2 T         481 non-null float64
FPA T         481 non-null float64
FPB T         481 non-null float64
OBA T         481 non-null float64
dtypes: float64(8)
memory usage: 33.8 KB

In [140]:
iftemps.to_hdf('iftemps_2.h5','df')

In [141]:
iftemps = parse_vf_temps('Diviner Radiometric Cal Ramp 3.xlsx', 3)

In [142]:
iftemps.head()

,Time,Fixed BB T,Var BB T,BB1 T,BB2 T,FPA T,FPB T,OBA T
1,2.221632e+08,85.187983,86.680106,306.114250,306.195461,301.242000,301.384625,306.026750
2,2.221632e+08,85.260403,86.769483,306.143126,306.059859,301.311002,301.450584,305.972703
3,2.221633e+08,85.312238,86.811023,305.387500,305.277000,301.313500,301.489750,305.760250
4,2.221633e+08,85.303520,86.754303,305.291500,305.184573,301.350000,301.526875,305.703000
5,2.221635e+08,85.423329,86.908261,304.677000,304.694225,301.371750,301.574000,305.495000

In [143]:
iftemps.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 369 entries, 1 to 369
Data columns (total 8 columns):
Time          369 non-null float64
Fixed BB T    369 non-null float64
Var BB T      369 non-null float64
BB1 T         369 non-null float64
BB2 T         369 non-null float64
FPA T         369 non-null float64
FPB T         369 non-null float64
OBA T         369 non-null float64
dtypes: float64(8)
memory usage: 25.9 KB

In [144]:
iftemps.to_hdf('iftemps_3.h5', 'df')

In [149]:
!ls -lath

total 90592
drwxr-xr-x@  30 klay6683  LASP\Domain Users   1.0K Feb 21 22:16 .
-rw-r--r--@   1 klay6683  LASP\Domain Users     0B Feb 21 22:16 ground_calib_spreadsheet_data.h5
-rw-r--r--@   1 klay6683  LASP\Domain Users   2.0M Feb 21 22:14 iftemps_3.h5
-rw-r--r--@   1 klay6683  LASP\Domain Users   2.0M Feb 21 22:14 iftemps_2.h5
-rw-r--r--@   1 klay6683  LASP\Domain Users   2.5M Feb 21 22:11 allifvaltime_3.h5
-rw-r--r--@   1 klay6683  LASP\Domain Users   2.6M Feb 21 22:09 allifvaltime_2.h5
-rw-r--r--@   1 klay6683  LASP\Domain Users   2.0M Feb 21 22:05 vftemps_3.h5
-rw-r--r--@   1 klay6683  LASP\Domain Users   2.0M Feb 21 22:03 vftemps_2.h5
-rw-r--r--@   1 klay6683  LASP\Domain Users   2.5M Feb 21 22:00 allvfvaltime_3.h5
-rw-r--r--@   1 klay6683  LASP\Domain Users   3.1M Feb 21 21:53 allvfvaltime_2.h5
-rw-r--r--@   1 klay6683  LASP\Domain Users   171B Feb 21 21:48 ~$marc_foote_counts_and_chamber_data.xlsx
-rw-r--r--@   1 klay6683  LASP\Domain Users   7.5M Feb 21 21:45 chamberdata.h5
-rw-r--r--@   1 klay6683  LASP\Domain Users   1.9M Feb 21 21:25 Diviner Radiometric Cal Ramp 3.xlsx
-rw-r--r--@   1 klay6683  LASP\Domain Users   171B Feb 21 20:26 ~$Diviner Radiometric Cal Ramp 3.xlsx
-rw-r--r--@   1 klay6683  LASP\Domain Users   171B Feb 21 20:26 ~$Diviner Radiometric Cal Ramp 2.xlsx
drwxr-xr-x@ 130 klay6683  LASP\Domain Users   4.3K Feb 21 19:51 ..
-rw-r--r--@   1 klay6683  LASP\Domain Users   2.0M Nov 24 11:42 Diviner Radiometric Cal Ramp 2.xlsx
-rw-r--r--@   1 klay6683  LASP\Domain Users   3.0M Nov 24 11:42 marc_foote_counts_and_chamber_data.xlsx
-rw-r--r--@   1 klay6683  LASP\Domain Users   853K Nov 17 15:00 counts_vs_temps.png
-rw-r--r--@   1 klay6683  LASP\Domain Users   360K Feb  1  2014 gc_a6_b1_b2_b3_d11_2008011221-2008011309.png
-rw-r--r--@   1 klay6683  LASP\Domain Users   1.2M Feb  1  2014 gc_a6_b1_b2_b3_d11_2008011209-2008011221.png
-rw-r--r--@   1 klay6683  LASP\Domain Users   1.5M Feb  1  2014 gc_a6_b1_b2_b3_d11_2008011121-2008011209.png
-rw-r--r--@   1 klay6683  LASP\Domain Users   1.4M Feb  1  2014 gc_a6_b1_b2_b3_d11_2008011109-2008011121.png
-rw-r--r--@   1 klay6683  LASP\Domain Users   1.5M Feb  1  2014 gc_a6_b1_b2_b3_d11_2008011021-2008011109.png
-rw-r--r--@   1 klay6683  LASP\Domain Users   899K Jan 31  2014 b1_11_2008011121-2008011209.png
-rw-r--r--@   1 klay6683  LASP\Domain Users   787K Jan 31  2014 b1_11_2008011209-2008011221.png
-rw-r--r--@   1 klay6683  LASP\Domain Users   229K Jan 31  2014 b1_11_2008011221-2008011309.png
-rw-r--r--@   1 klay6683  LASP\Domain Users   1.0M Jan 31  2014 b1_11_2008011109-2008011121.png
-rw-r--r--@   1 klay6683  LASP\Domain Users   886K Jan 31  2014 b1_11_2008011021-2008011109.png
-rw-r--r--@   1 klay6683  LASP\Domain Users   449K Sep  9  2013 2008011201_L1A_Plot3.pdf

In [151]:
store = pd.HDFStore('ground_calib_spreadsheet_data.h5')

In [152]:
for item in ['iftemps','allifvaltime','vftemps','allvfvaltime']:
    for i in [2,3]:
        key = item + '_' + str(i)
        store[key] = pd.read_hdf(key+'.h5','df')

In [153]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: ground_calib_spreadsheet_data.h5
/allifvaltime_2            frame        (shape->[481,1])
/allifvaltime_3            frame        (shape->[369,1])
/allvfvaltime_2            frame        (shape->[452,1])
/allvfvaltime_3            frame        (shape->[436,1])
/iftemps_2                 frame        (shape->[481,1])
/iftemps_3                 frame        (shape->[369,1])
/vftemps_2                 frame        (shape->[452,1])
/vftemps_3                 frame        (shape->[347,1])

In [155]:
ll -arth

total 128776
-rw-r--r--@   1 klay6683  LASP\Domain Users   449K Sep  9  2013 2008011201_L1A_Plot3.pdf
-rw-r--r--@   1 klay6683  LASP\Domain Users   886K Jan 31  2014 b1_11_2008011021-2008011109.png
-rw-r--r--@   1 klay6683  LASP\Domain Users   1.0M Jan 31  2014 b1_11_2008011109-2008011121.png
-rw-r--r--@   1 klay6683  LASP\Domain Users   229K Jan 31  2014 b1_11_2008011221-2008011309.png
-rw-r--r--@   1 klay6683  LASP\Domain Users   787K Jan 31  2014 b1_11_2008011209-2008011221.png
-rw-r--r--@   1 klay6683  LASP\Domain Users   899K Jan 31  2014 b1_11_2008011121-2008011209.png
-rw-r--r--@   1 klay6683  LASP\Domain Users   1.5M Feb  1  2014 gc_a6_b1_b2_b3_d11_2008011021-2008011109.png
-rw-r--r--@   1 klay6683  LASP\Domain Users   1.4M Feb  1  2014 gc_a6_b1_b2_b3_d11_2008011109-2008011121.png
-rw-r--r--@   1 klay6683  LASP\Domain Users   1.5M Feb  1  2014 gc_a6_b1_b2_b3_d11_2008011121-2008011209.png
-rw-r--r--@   1 klay6683  LASP\Domain Users   1.2M Feb  1  2014 gc_a6_b1_b2_b3_d11_2008011209-2008011221.png
-rw-r--r--@   1 klay6683  LASP\Domain Users   360K Feb  1  2014 gc_a6_b1_b2_b3_d11_2008011221-2008011309.png
-rw-r--r--@   1 klay6683  LASP\Domain Users   853K Nov 17 15:00 counts_vs_temps.png
-rw-r--r--@   1 klay6683  LASP\Domain Users   3.0M Nov 24 11:42 marc_foote_counts_and_chamber_data.xlsx
-rw-r--r--@   1 klay6683  LASP\Domain Users   2.0M Nov 24 11:42 Diviner Radiometric Cal Ramp 2.xlsx
drwxr-xr-x@ 130 klay6683  LASP\Domain Users   4.3K Feb 21 19:51 ../
-rw-r--r--@   1 klay6683  LASP\Domain Users   171B Feb 21 20:26 ~$Diviner Radiometric Cal Ramp 2.xlsx
-rw-r--r--@   1 klay6683  LASP\Domain Users   171B Feb 21 20:26 ~$Diviner Radiometric Cal Ramp 3.xlsx
-rw-r--r--@   1 klay6683  LASP\Domain Users   1.9M Feb 21 21:25 Diviner Radiometric Cal Ramp 3.xlsx
-rw-r--r--@   1 klay6683  LASP\Domain Users   7.5M Feb 21 21:45 chamberdata.h5
-rw-r--r--@   1 klay6683  LASP\Domain Users   171B Feb 21 21:48 ~$marc_foote_counts_and_chamber_data.xlsx
-rw-r--r--@   1 klay6683  LASP\Domain Users   3.1M Feb 21 21:53 allvfvaltime_2.h5
-rw-r--r--@   1 klay6683  LASP\Domain Users   2.5M Feb 21 22:00 allvfvaltime_3.h5
-rw-r--r--@   1 klay6683  LASP\Domain Users   2.0M Feb 21 22:03 vftemps_2.h5
-rw-r--r--@   1 klay6683  LASP\Domain Users   2.0M Feb 21 22:05 vftemps_3.h5
-rw-r--r--@   1 klay6683  LASP\Domain Users   2.6M Feb 21 22:09 allifvaltime_2.h5
-rw-r--r--@   1 klay6683  LASP\Domain Users   2.5M Feb 21 22:11 allifvaltime_3.h5
-rw-r--r--@   1 klay6683  LASP\Domain Users   2.0M Feb 21 22:14 iftemps_2.h5
-rw-r--r--@   1 klay6683  LASP\Domain Users   2.0M Feb 21 22:14 iftemps_3.h5
drwxr-xr-x@  30 klay6683  LASP\Domain Users   1.0K Feb 21 22:16 ./
-rw-r--r--@   1 klay6683  LASP\Domain Users    19M Feb 21 22:19 ground_calib_spreadsheet_data.h5