In [1]:
import pandas as pd
from diviner import file_utils as fu
from diviner import calib

In [2]:
pump = fu.L1AParquetDataPump('20171001')

In [26]:
fn = fu.FileName('20130305.div247')

ValueError: time data '20130305.div247' does not match format '%Y%m%d%H%M'

In [25]:
fn.get_previous_hour()

'20130304'

In [3]:
pump.find_fnames()

[PosixPath('/luna4/maye/l1a_parquet/2017/2017100100_L1A.parquet'),
 PosixPath('/luna4/maye/l1a_parquet/2017/2017100101_L1A.parquet'),
 PosixPath('/luna4/maye/l1a_parquet/2017/2017100102_L1A.parquet'),
 PosixPath('/luna4/maye/l1a_parquet/2017/2017100103_L1A.parquet'),
 PosixPath('/luna4/maye/l1a_parquet/2017/2017100104_L1A.parquet'),
 PosixPath('/luna4/maye/l1a_parquet/2017/2017100105_L1A.parquet'),
 PosixPath('/luna4/maye/l1a_parquet/2017/2017100106_L1A.parquet'),
 PosixPath('/luna4/maye/l1a_parquet/2017/2017100107_L1A.parquet'),
 PosixPath('/luna4/maye/l1a_parquet/2017/2017100108_L1A.parquet'),
 PosixPath('/luna4/maye/l1a_parquet/2017/2017100109_L1A.parquet'),
 PosixPath('/luna4/maye/l1a_parquet/2017/2017100110_L1A.parquet'),
 PosixPath('/luna4/maye/l1a_parquet/2017/2017100111_L1A.parquet'),
 PosixPath('/luna4/maye/l1a_parquet/2017/2017100112_L1A.parquet'),
 PosixPath('/luna4/maye/l1a_parquet/2017/2017100113_L1A.parquet'),
 PosixPath('/luna4/maye/l1a_parquet/2017/2017100114_L1A.parquet'),
 PosixPath('/luna4/maye/l1a_parquet/2017/2017100115_L1A.parquet'),
 PosixPath('/luna4/maye/l1a_parquet/2017/2017100116_L1A.parquet'),
 PosixPath('/luna4/maye/l1a_parquet/2017/2017100117_L1A.parquet'),
 PosixPath('/luna4/maye/l1a_parquet/2017/2017100118_L1A.parquet'),
 PosixPath('/luna4/maye/l1a_parquet/2017/2017100119_L1A.parquet'),
 PosixPath('/luna4/maye/l1a_parquet/2017/2017100120_L1A.parquet'),
 PosixPath('/luna4/maye/l1a_parquet/2017/2017100121_L1A.parquet'),
 PosixPath('/luna4/maye/l1a_parquet/2017/2017100122_L1A.parquet'),
 PosixPath('/luna4/maye/l1a_parquet/2017/2017100123_L1A.parquet')]

In [18]:
df = pump.get_3_hour_block(pump.fnames[12])
df

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 84384 entries, 2013-03-05 11:00:00.514000 to 2013-03-05 14:00:01.736000
Columns: 259 entries, q to is_calib
dtypes: bool(6), float64(50), int32(4), int64(193), object(6)

In [19]:
df.is_calib.plot()

In [5]:
c = calib.Calibrator(df)

In [6]:
c.calibrate()

192
 [*********************100%***********************]  147 of 147 complete

In [7]:
fn = fu.FileName(pump.fnames[0])

In [8]:
tbout = c.Tb.ix[c.Tb.index.hour == int(fn.hour)]
radout = c.abs_radiance.ix[c.abs_radiance.index.hour == int(fn.hour)]

In [9]:
print tbout.info()
print radout.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 26124 entries, 2013-03-01 00:00:00.090000 to 2013-03-01 00:59:59.912000
Columns: 147 entries, a3_01 to b3_21
dtypes: float64(147)None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 26124 entries, 2013-03-01 00:00:00.090000 to 2013-03-01 00:59:59.912000
Columns: 189 entries, a1_01 to b3_21
dtypes: float64(189)None

In [10]:
tbout = tbout.filter(regex='b3_')
radout = radout.filter(regex='b3_')

In [13]:
tbout
range(21,0,-1)

[21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [14]:
tbout.columns = range(21,0,-1)

In [15]:
tbout

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 26124 entries, 2013-03-01 00:00:00.090000 to 2013-03-01 00:59:59.912000
Data columns (total 21 columns):
21    26124  non-null values
20    26124  non-null values
19    26124  non-null values
18    26124  non-null values
17    26124  non-null values
16    26124  non-null values
15    26124  non-null values
14    26124  non-null values
13    26124  non-null values
12    26124  non-null values
11    26124  non-null values
10    26124  non-null values
9     26124  non-null values
8     26124  non-null values
7     26124  non-null values
6     26124  non-null values
5     26124  non-null values
4     26124  non-null values
3     26124  non-null values
2     26124  non-null values
1     26124  non-null values
dtypes: float64(21)

In [31]:
tbout.rename(columns=lambda x:int(x[3:]), inplace=True)

IndexError: invalid index to scalar variable.

In [32]:
tbout

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 26124 entries, 2013-03-01 00:00:00.090000 to 2013-03-01 00:59:59.912000
Data columns (total 21 columns):
1     26124  non-null values
2     26124  non-null values
3     26124  non-null values
4     26124  non-null values
5     26124  non-null values
6     26124  non-null values
7     26124  non-null values
8     26124  non-null values
9     26124  non-null values
10    26124  non-null values
11    26124  non-null values
12    26124  non-null values
13    26124  non-null values
14    26124  non-null values
15    26124  non-null values
16    26124  non-null values
17    26124  non-null values
18    26124  non-null values
19    26124  non-null values
20    26124  non-null values
21    26124  non-null values
dtypes: float64(21)

In [26]:
rdr = fu.RDRReader.from_timestr(fn.timestr)

In [27]:
rdr.fname

'/raid1/maye/rdr_data/2013030100_RDR.TAB.zip'

In [28]:
rdrdf = rdr.read_df(do_parse_times=False)

In [39]:
rdrch = rdrdf[rdrdf.c==9]

In [40]:
rdrout = rdrch[['date','utc','clat','clon','det']]

In [41]:
rdrout.head()

            date           utc      clat       clon  det
168  01-Mar-2013  00:00:00.090  16.45645  328.72565    1
169  01-Mar-2013  00:00:00.090  16.45692  328.71259    2
170  01-Mar-2013  00:00:00.090  16.45698  328.69949    3
171  01-Mar-2013  00:00:00.090  16.45726  328.68533    4
172  01-Mar-2013  00:00:00.090  16.45802  328.67154    5

In [53]:
tbout

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 26124 entries, 2013-03-01 00:00:00.090000 to 2013-03-01 00:59:59.912000
Data columns (total 21 columns):
1     26124  non-null values
2     26124  non-null values
3     26124  non-null values
4     26124  non-null values
5     26124  non-null values
6     26124  non-null values
7     26124  non-null values
8     26124  non-null values
9     26124  non-null values
10    26124  non-null values
11    26124  non-null values
12    26124  non-null values
13    26124  non-null values
14    26124  non-null values
15    26124  non-null values
16    26124  non-null values
17    26124  non-null values
18    26124  non-null values
19    26124  non-null values
20    26124  non-null values
21    26124  non-null values
dtypes: float64(21)

In [51]:
orig_dateutc = df[['date','utc']].ix[df.index.hour == int(fn.hour)]

In [57]:
orig_dateutc.reindex(index=tbout.index)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 26124 entries, 2013-03-01 00:00:00.090000 to 2013-03-01 00:59:59.912000
Data columns (total 2 columns):
date    26124  non-null values
utc     26124  non-null values
dtypes: object(2)

In [58]:
tbout['date']=orig_dateutc.date
tbout['utc']=orig_dateutc.utc

In [59]:
tbout

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 26124 entries, 2013-03-01 00:00:00.090000 to 2013-03-01 00:59:59.912000
Data columns (total 23 columns):
1       26124  non-null values
2       26124  non-null values
3       26124  non-null values
4       26124  non-null values
5       26124  non-null values
6       26124  non-null values
7       26124  non-null values
8       26124  non-null values
9       26124  non-null values
10      26124  non-null values
11      26124  non-null values
12      26124  non-null values
13      26124  non-null values
14      26124  non-null values
15      26124  non-null values
16      26124  non-null values
17      26124  non-null values
18      26124  non-null values
19      26124  non-null values
20      26124  non-null values
21      26124  non-null values
date    26124  non-null values
utc     26124  non-null values
dtypes: float64(21), object(2)

In [62]:
tbmolten = pd.melt(tbout, id_vars=['date','utc'],value_vars=range(1,22))

In [64]:
tbmolten.tail()

               date           utc  variable       value
548599  01-Mar-2013  00:59:59.400        21  101.012510
548600  01-Mar-2013  00:59:59.528        21  101.018813
548601  01-Mar-2013  00:59:59.656        21  105.688797
548602  01-Mar-2013  00:59:59.784        21   99.466281
548603  01-Mar-2013  00:59:59.912        21  107.246246

In [70]:
tbmolten.columns = ['date','utc','det','tb']

In [66]:
rdrout.tail()

                date           utc      clat       clon  det
5315431  01-Mar-2013  00:59:59.912 -12.05778  147.97281   17
5315432  01-Mar-2013  00:59:59.912 -12.05749  147.98279   18
5315433  01-Mar-2013  00:59:59.912 -12.05717  147.99361   19
5315434  01-Mar-2013  00:59:59.912 -12.05683  148.00471   20
5315435  01-Mar-2013  00:59:59.912 -12.05537  148.01550   21

In [72]:
data_out = tbmolten.merge(rdrout, on=['date','utc','det'])

In [73]:
data_out.head()

          date           utc  det          tb      clat       clon
0  01-Mar-2013  00:00:00.090    1  390.849832  16.45645  328.72565
1  01-Mar-2013  00:00:00.218    1  390.847669  16.46284  328.72583
2  01-Mar-2013  00:00:00.346    1  389.881558  16.46923  328.72598
3  01-Mar-2013  00:00:00.474    1  388.904281  16.47561  328.72614
4  01-Mar-2013  00:00:00.602    1  394.579036  16.48198  328.72629

In [74]:
data_out.to_csv('/u/paige/maye/'+fn.timestr+'_rdr20.csv',index=False)

In [75]:
first_day = '2013030100'

In [76]:
l1a_channel = 'b3'
rdr_channel = 9

In [78]:
fn.fname

'/raid1/maye/l1a_data/2013030100_L1A.TAB'

In [79]:
fn.set_next_hour()

'/raid1/maye/l1a_data/2013030101_L1A.TAB'

In [80]:
fn.fname

'/raid1/maye/l1a_data/2013030101_L1A.TAB'

In [3]:
cd /raid1/maye/rdr20_month_samples/

/raid1/maye/rdr20_month_samples

In [9]:
cd no_rad_corr

/raid1/maye/rdr20_month_samples/no_rad_corr

In [4]:
fnames_out = os.listdir(fu.get_month_sample_path_from_mode('nominal'))

In [5]:
fnames_out[0]

'2013030100_C3_nominal_RDR20.csv'

In [3]:
import os, glob

In [6]:
timestr = '201303'

In [7]:
fnames = glob.glob(os.path.join(fu.l1adatapath, timestr + '*_L1A.TAB'))

In [8]:
timestrs_done = [fu.FileName(i).timestr for i in fnames_out]

In [9]:
timestrs_in = [fu.FileName(i).timestr for i in fnames]

In [10]:
fnames_todo = [i for i in fnames if timestrs_done.count(fu.FileName(i).timestr) < 7]

In [11]:
len(fnames_todo)

317

In [12]:
len(fnames)

744