In [1]:
import pandas
pandas.__version__

'0.24.1'

In [2]:
import sys
sys.path.append('/u/paige/maye/src')

In [3]:
from diviner import calib, file_utils as fu, plot_utils as pu

In [4]:
fu.l1adatapath

'/luna5/marks/feidata/DIV:opsL1A/data'

In [5]:
# tstr = '2012121714'
tstr = '2011071909'

In [6]:
l1a = fu.L1ADataFile.from_tstr(tstr)
#df = l1a.open()
df = fu.open_and_accumulate(l1a.fname)

AttributeError: type object 'L1ADataFile' has no attribute 'from_tstr'

In [6]:
df = fu.open_and_accumulate(tstr)

In [7]:
df.shape

(84384, 257)

In [8]:
c = calib.Calibrator(df)

INFO:diviner.calib:Calibrating from 2011-07-19 08:00:01.233000 to 2011-07-19 11:00:00.336000.

In [4]:
%load_ext line_profiler

In [13]:
%lprun -f calib.RBBTable.get_tb c.calibrate()

In [9]:
# %timeit c.calibrate()
c.calibrate()

INFO:diviner.calib:Performing radiance correction on 2011-07-19 08:00:01.233000

In [10]:
start = fu.tstr_to_datetime('2011071909')

In [11]:
from datetime import timedelta
end = start + timedelta(hours=1)

In [12]:
import pandas as pd

In [13]:
start2 = pd.Timestamp(start)

In [14]:
start2

Timestamp('2011-07-19 09:00:00')

In [15]:
c.abs_radiance.index[0]

Timestamp('2011-07-19 08:00:01.233000')

In [16]:
groups = calib.get_calib_blocks(df, 'calib')

In [17]:
cb = calib.CalBlock(groups[1])

In [18]:
import pandas as pd

In [19]:
offsets = pd.DataFrame(cb.get_offsets()).T

In [21]:
offsets.T

                  0
a1_01  22446.164062
a1_02  22392.500000
a1_03  22391.226562
a1_04  22402.195312
a1_05  22425.250000
a1_06  22419.945312
a1_07  22467.781250
a1_08  22454.265625
a1_09  22449.835938
a1_10  22466.328125
a1_11  22499.414062
a1_12  22462.632812
a1_13  22395.804688
a1_14  22460.203125
a1_15  22502.703125
a1_16  22481.421875
a1_17  22417.195312
a1_18  22426.406250
a1_19  22468.710938
a1_20  22429.695312
a1_21  22465.226562
a2_01  22745.171875
a2_02  22769.328125
a2_03  22781.507812
a2_04  22764.554688
a2_05  22801.562500
a2_06  22810.328125
a2_07  22735.578125
a2_08  22795.242188
a2_09  22756.890625
...             ...
b2_13  28268.367188
b2_14  28290.414062
b2_15  28269.390625
b2_16  28200.070312
b2_17  28129.710938
b2_18  28140.640625
b2_19  28073.132812
b2_20  28038.671875
b2_21  27893.148438
b3_01  27798.875000
b3_02  27810.148438
b3_03  27809.851562
b3_04  27803.828125
b3_05  27794.164062
b3_06  27806.593750
b3_07  27771.273438
b3_08  27801.007812
b3_09  27766.781250
b3_10  27815.070312
b3_11  27822.601562
b3_12  27763.031250
b3_13  27789.640625
b3_14  27785.414062
b3_15  27741.507812
b3_16  27774.312500
b3_17  27776.351562
b3_18  27746.804688
b3_19  27770.890625
b3_20  27795.125000
b3_21  27762.289062

[189 rows x 1 columns]